body {
margin:0;
font-family:'Open Sans',sans-serif;
background:#F4F9FF;
color:#102A43;
}

h1,h2,h3 {
font-family:'Montserrat',sans-serif;
font-weight:800;
}

.navbar {
background:#0F4C81;
padding:16px 40px;
display:flex;
justify-content:space-between;
color:white;
}

.navbar a {
color:white;
margin-left:20px;
text-decoration:none;
}

.nav-btn {
background:#2CB1E1;
padding:8px 16px;
border-radius:20px;
}

.hero-text {
padding:80px 40px;
text-align:center;
}

.section {
padding:70px 40px;
max-width:1200px;
margin:auto;
}

.card-grid {
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.card {
background:white;
padding:20px;
border-radius:14px;
}

.card img {
width:100%;
border-radius:10px;
margin-bottom:10px;
}

.blue-border {border:3px solid #0F4C81;}
.green-border {border:3px solid #2ECC71;}
.sky-border {border:3px solid #2CB1E1;}

.two-col {
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

input,select {
width:100%;
padding:10px;
margin-bottom:12px;
border-radius:8px;
border:1px solid #CBD5E1;
}

.submit-btn {
width:100%;
background:#2CB1E1;
color:white;
padding:12px;
border:none;
border-radius:25px;
}

.map-box {
height:180px;
background:#E2E8F0;
border-radius:12px;
display:flex;
align-items:center;
justify-content:center;
}

.footer {
background:#0F172A;
color:white;
text-align:center;
padding:25px;
}
